<div style="text-align:center"><img src="./images/python_ex.png" /></div>

<a href="00_cover_page.ipynb"><p style="text-align:right;" href="00_cover_page.ipynb">Back To Cover Page</p></a>

<a id = "IDX"></a>
# Class Exercises
##### Index
- [2. Variables in Python](#2.)
- [3. Conditionals](#3.)
- [4. Data Structures](#4.)
- [5. Loops](#5.)
- [6. Functions (I)](#6.)
- [7. Modules](#7.)
- [8. Functions (II)](#8.)
- [9. Classes](#9.)
- [Extra](#extra)

<a id = "2."></a>
<a href="#IDX"><p style="text-align:right;" href="#IDX">Back To Index</p></a> 
## 2. Variables in Python

#### Exercise 1.
1. Write your address (street) in a variable.
2. Write your address (number of building) in a variable.
3. Write your address (city) in a variable.
4. Write your address (postalcode) in a variable.
5. Concatenate the previous variables into another one.
6. Print it.

In [13]:
street = "Principe Pio"
building_number = 56
city = "Madrid"
postalcode = "28008"
info = (f" Street: {street}\n "
        f"Building Number: {building_number}\n "
        f"City: {city}\n "
        f"Postcode: {postalcode}")
print(info)

 Street: Principe Pio
 Building Number: 56
 City: Madrid
 Postcode: 28008

#### Exercise 2.

Which of the following are bad formed? why? and correct them.
```python
mi_variable = "Economía"
otra_var = "Ejercicio
True = "Ejercicio"
mi variab1e = "Alpha"
exec = True
import = 40
81mi_variable = "Agua"
mi_variable10 = 6
```

In [5]:
mi_variable = "Economía"
otra_var = "Ejercicio"
true = "Ejercicio"
mi_variab1e = "Alpha"
execution = True
importa = 40
mi_variable_81 = "Agua"
mi_variable10 = 6

In [14]:
exec("hola_mundo = 'HelloWorld'")

In [15]:
hola_mundo

'HelloWorld'

In [16]:
eval("7 + 8")

15

#### Exercise 3.
Calculate the roots of any ecuation of second order with the following expression \\( ax^2 + bx + c = 0 \\)

In [20]:
a = 10
b = 2
c = 300
x_plus = (-b + (b**2 - 4*a*c) ** .5)/(2*a)
x_minus = (-b - (b**2 - 4*a*c) ** .5)/(2*a)
x_plus, x_minus

((-0.09999999999999967+5.476312628037227j),
 (-0.10000000000000034-5.476312628037227j))

#### Exercise 4.
Create a workflow to calculate from farentheit to celsius

In [9]:
farentheit = 100
celsius = (farentheit - 32) * (5/9)
print(f"{farentheit} F = {round(celsius, 2)} C")

100 F = 37.78 C

#### Exercise 5.
Decompose a division of two numbers in its parts and check that the numerator is calculated with the previous values.

In [11]:
num = 3
den = 4
rest = num % den
div = 3 // 4
print(num == div * den + rest)

True

#### Exercise 6.
Given any word remove extra whitespaces at the beginning and at the end and uppercase the firts letter of the word.

In [24]:
word = "  Hola que paAassaa gentecilla!  "
w = word.strip()
w.title()

'Hola Que Paaassaa Gentecilla!'

<a id = "3."></a>
<a href="#IDX"><p style="text-align:right;" href="#IDX">Back To Index</p></a> 
## 3. Conditionals

#### Exercise 7.
Given a sentence count the number of times that a word appears in the sentence. Previously checks if the word is in the sentence.

In [30]:
word = "o"

In [31]:
sentence = "Hello World"
if isinstance(sentence, str):
    print(sentence.lower().count(word.lower()))

2

#### Exercise 8.
Is the following expression correct? Solve it if it is incorrect.
```python
var_num = 10
if var_num <= 100:
    print(f"{var_num} <= 100")
elif var_num <= 10:
    print(f"{var_num} <= 10")
else:
    print("Big number!")
```

Cambiar el orden de los ifs.

#### Exercise 9.
What we will get from the following expressions? Try to figure it out without execute code.
1. True and True and False
2. not(not (True or False)) or (True or False)
3. (False or True or False or True) or False
4. not True and True and True

1. True and True and False -> False
2. not(not (True or False)) or (True or False) -> True
3. (False or True or False or True) or False -> True
4. not True and True and True -> False

#### Exercise 10.
Calculate the IRPF steps [see here](https://www.bankinter.com/blog/finanzas-personales/renta-tramos-irpf) for a given salary.

1. Primer tramo hasta 12.450 euros en el que se paga un 19%.
2. Segundo tramo hasta 20.200 euros con tipo del 24%
3. Tercer tramo hasta 35.200 euros con un 30%.
4. Cuarto tramo hasta 60.000 euros con un 37%
5. Quinto tramo hasta 300.000 euros con un 45%
6. ¡Novedad! Sexto tramo a partir de 300.000 euros de 47%.

salario_bruto = 30000
irpf = 0

#### Exercise 11.
Write an if statement that asks for the user's name via variable. If the name is "Bond" make it print "Welcome on board 007." Otherwise make it print "Good morning NAME". (Replace Name with user's name)

In [33]:
name = input("User: ")
if name.capitalize() == "Bond":
    print("Welcome on board 007.")
else:
    print(f"Good morning {name.capitalize()}")

User:  bond

Welcome on board 007.

#### Exercise 12.
A school has following rules for grading system:
1. Below 25 - F
2. 25 to 45 - E
3. 45 to 50 - D
4. 50 to 60 - C
5. 60 to 80 - B
6. Above 80 - A


Ask user to enter marks and print the corresponding grade (via variable).

In [32]:
mark = 12

if mark < 25:
    print(f"Your score is F because of your mark {mark}")
elif mark >= 25 and mark < 45:
    print(f"Your score is E because of your mark {mark}")
elif mark >= 45 and mark < 50:
    print(f"Your score is D because of your mark {mark}")
elif mark >= 50 and mark < 60:
    print(f"Your score is C because of your mark {mark}")
elif mark >= 60 and mark < 80:
    print(f"Your score is B because of your mark {mark}")
else:
    print(f"Your score is A because of your mark {mark}")

Your score is F because of your mark 12

#### Exercies 13.
Take values of length and breadth of a rectangle from user and check if it is square or not.

In [29]:
l = 4
b = 4
if l*b == l**2
    print("It's a square!")
else:
    print("Is not a square!")

It's a square!

<a id = "4."></a>
<a href="#IDX"><p style="text-align:right;" href="#IDX">Back To Index</p></a> 
## 4. Data Structures

#### Exercise 14.
1. Create a tuple with 3 elements
2. Create a tuple with one element and check its type
3. Create a tuple with elements of different types
4. Print first and last element from previous tuple.
5. Add one more element.
6. Delete one element in a tuple.
7. Transform the tuple into a list

In [40]:
t = (1, 2, 3)

In [43]:
t = (1,)

In [44]:
type(t)

tuple

In [45]:
t = (1, "1")

In [46]:
t[0], t[-1]

(1, '1')

- You can't add elements to a tuple because of their immutable property. There's no append() or extend() method for tuples
- You can't remove elements from a tuple, also because of their immutability. Tuples have no remove() or pop() method,

In [10]:
list(t)

[1, '1']

In [48]:
tuple_1 =(1,2,3)
tuple_1 = list(tuple_1)
print(tuple_1.append("l"))

None

In [49]:
tuple_1

[1, 2, 3, 'l']

#### Exercise 15.
Count the unique elements from the following list:
```python
l = list("ahjhsfyajkasbiuashasbuasgbfsakyuasbdiaqwonvbythfppivbad")
```
Hint: use `len()`

In [12]:
l = list("ahjhsfyajkasbiuashasbuasgbfsakyuasbdiaqwonvbythfppivbad")
len(set(l))

19

#### Exercise 16.
Create a dictionary that maps a number with its corresponding month name.

In [6]:
months = {
    1: "Enero",
    2: "Febrero",
    3: "Marzo",
    4: "Abril",
    5: "Mayo",
    6: "Junio",
    7: "Julio",
    8: "Agosto",
    9: "Septiembre",
    10: "Octubre",
    11: "Noviembre",
    12: "Diciembre"
}

#### Exercise 17.
Create two list of the same length and then create a list of tuples with the previous lists.

Hint: `zip()`

In [51]:
l1 = [1, 2]
l2 = [3, 4]
list(zip(l1, l2))

[(1, 3), (2, 4)]

#### Exercise 18.
Given the following sets
```python
first_set  = {57, 83, 29}
second_set = {57, 83, 29, 67, 73, 43, 48}
```
Check if the first one is a subset of the second one

In [52]:
first_set  = {57, 83, 29}
second_set = {57, 83, 29, 67, 73, 43, 48}
first_set.issubset(second_set)

True

In [53]:
second_set.issubset(first_set)

False

#### Exercise 19.
1. Create a dictionary where its keys are the days of the week (name) and values all set to 0.
2. Change the week days for numbers
3. Sum the total of the week
4. Calculate the mean of the week and the mean of the weekdays.

DO NOT HARDCODE NUMBERS LIKE 5 OR 7!

In [22]:
weeknames = ["M", "T", "W", "Th", "F", "S", "Sa"]

In [23]:
weeks = dict.fromkeys(weeknames, 0)

In [24]:
weeks

{'M': 0, 'T': 0, 'W': 0, 'Th': 0, 'F': 0, 'S': 0, 'Sa': 0}

In [33]:
weeks["M"] = 150
weeks["T"] = 150
weeks["W"] = 150
weeks["Th"] = 150
weeks["F"] = 150
weeks["S"] = 250
weeks["Sa"] = 300

In [34]:
weeks

{'M': 150, 'T': 150, 'W': 150, 'Th': 150, 'F': 150, 'S': 250, 'Sa': 300}

In [35]:
sum(weeks.values())

1300

In [36]:
sum(weeks.values()) / len(weeks)

185.71428571428572

In [37]:
sum(list(weeks.values())[:5]) / len(list(weeks.keys())[:5])

150.0

In [39]:
sum(list(weeks.values())[5:7]) / len(list(weeks.keys())[5:7])

275.0

<a id = "5."></a>
<a href="#IDX"><p style="text-align:right;" href="#IDX">Back To Index</p></a> 
## 5. Loops

#### Exercise 20.
Write a Python program to insert items into a list in sorted order.

In [37]:
l = sorted([_ for _ in [1,3, 8, 4, 6, 7, 7, 0, 2]], reverse=True)
l

[8, 7, 7, 6, 4, 3, 2, 1, 0]

#### Exercise 21.
Using dict comprehension create other dictionary with the 3 first letter of the month name from the previous one

In [7]:
months = {
    1: "Enero",
    2: "Febrero",
    3: "Marzo",
    4: "Abril",
    5: "Mayo",
    6: "Junio",
    7: "Julio",
    8: "Agosto",
    9: "Septiembre",
    10: "Octubre",
    11: "Noviembre",
    12: "Diciembre"
}

In [8]:
mon = {k: v[0:3] for k, v in months.items()}
mon

{1: 'Ene',
 2: 'Feb',
 3: 'Mar',
 4: 'Abr',
 5: 'May',
 6: 'Jun',
 7: 'Jul',
 8: 'Ago',
 9: 'Sep',
 10: 'Oct',
 11: 'Nov',
 12: 'Dic'}

#### Exercise 22.
Write a Python program to find those numbers which are divisible by 7 and multiple of 5, between 1500 and 2700 (both included)

In [38]:
n = [_ for _ in range(1500, 2700 + 1) if (_ % 7 == 0) and (_ % 5 == 0)]

In [39]:
n

[1505,
 1540,
 1575,
 1610,
 1645,
 1680,
 1715,
 1750,
 1785,
 1820,
 1855,
 1890,
 1925,
 1960,
 1995,
 2030,
 2065,
 2100,
 2135,
 2170,
 2205,
 2240,
 2275,
 2310,
 2345,
 2380,
 2415,
 2450,
 2485,
 2520,
 2555,
 2590,
 2625,
 2660,
 2695]

#### Exercise 23.
Write a Python program to count the number of even and odd numbers from a series of numbers

In [15]:
# Trivial

#### Exercise 24.
Write a Python program that prints each item and its corresponding type from the following list.
```python
Sample List : datalist = [1452, 11.23, 1+2j, True, 'w3resource', (0, -1), [5, 12], {"class":'V', "section":'A'}]
```

In [16]:
datalist = [1452, 11.23, 1+2j, True, 'w3resource', (0, -1), [5, 12], {"class":'V', "section":'A'}]
for item in datalist:
    print(item, type(item))

1452 <class 'int'>
11.23 <class 'float'>
(1+2j) <class 'complex'>
True <class 'bool'>
w3resource <class 'str'>
(0, -1) <class 'tuple'>
[5, 12] <class 'list'>
{'class': 'V', 'section': 'A'} <class 'dict'>

#### Exercise 25.
Write a Python program that accepts a string and calculate the number of digits and letters.

In [18]:
string = "Boooongo la, boooongo chachacha 2"
letters = 0
numbers = 0
for s in string:
    if s.isdigit():
        numbers += 1
    elif s.isalpha():
        letters += 1
    else:
        continue

numbers, letters

(1, 27)

#### Exercise 26.
Write a Python program to check the validity of password input by users. Validation:

- At least 1 letter between [a-z] and 1 letter between [A-Z].
- At least 1 number between [0-9].
- At least 1 character from [$#@].
- Minimum length 6 characters.
- Maximum length 16 characters.

In [41]:
password = "c@pt4injaguar66"

abc = "abcdefghijklmnopqrstuvwxyz"
numbers = "0123456789"
conditions = [abc, abc.upper(), numbers, "$#@"]
check = False

if (len(password) >= 6) and (len(password) <= 16):
    # Comprobamos la longitud
    for cond in conditions:
        for c in cond:
            if c in password:
                check = True
                break
            else:
                check = False
                continue
                
        if not check:
            print(f"Password Bad Formed - At least one of {' '.join(cond)}.")
            break
else:
    print(f"Password Bad Formed - Length should be between 6 and 16.")

print(check)

True

#### Exercise 27.
Write a Python program to create the multiplication table (from 1 to 10) of a number.

In [24]:
for _ in range(1, 11):
    print(f"{_} x 10 = {_ * 10}")

1 x 10 = 10
2 x 10 = 20
3 x 10 = 30
4 x 10 = 40
5 x 10 = 50
6 x 10 = 60
7 x 10 = 70
8 x 10 = 80
9 x 10 = 90
10 x 10 = 100

#### Exercise 28.
Using list comprehension create a list of prime numbers less than 1000.

In [32]:
prime = []
for _ in range(1001):
    if _ <= 2:
        prime.append(_) if _ % 2 != 0 else None
    elif _ <= 3:
        prime.append(_) if _ % 3 != 0 else None
    elif _ <= 5:
        prime.append(_) if (_ % 5 != 0) and (_ % 2 != 0) else None
    else:
        prime.append(_) if (_ % 5 != 0) and (_ % 2 != 0) and (_ % 3 != 0) and (_ % 7 != 0) else None
print(prime)

[1, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 121, 127, 131, 137, 139, 143, 149, 151, 157, 163, 167, 169, 173, 179, 181, 187, 191, 193, 197, 199, 209, 211, 221, 223, 227, 229, 233, 239, 241, 247, 251, 253, 257, 263, 269, 271, 277, 281, 283, 289, 293, 299, 307, 311, 313, 317, 319, 323, 331, 337, 341, 347, 349, 353, 359, 361, 367, 373, 377, 379, 383, 389, 391, 397, 401, 403, 407, 409, 419, 421, 431, 433, 437, 439, 443, 449, 451, 457, 461, 463, 467, 473, 479, 481, 487, 491, 493, 499, 503, 509, 517, 521, 523, 527, 529, 533, 541, 547, 551, 557, 559, 563, 569, 571, 577, 583, 587, 589, 593, 599, 601, 607, 611, 613, 617, 619, 629, 631, 641, 643, 647, 649, 653, 659, 661, 667, 671, 673, 677, 683, 689, 691, 697, 701, 703, 709, 713, 719, 727, 731, 733, 737, 739, 743, 751, 757, 761, 767, 769, 773, 779, 781, 787, 793, 797, 799, 803, 809, 811, 817, 821, 823, 827, 829, 839, 841, 851, 853, 857, 859, 863, 869, 871, 877, 881, 883, 887, 893, 899, 901, 907, 911, 913, 919, 923, 929, 937, 941, 943, 947, 949, 953, 961, 967, 971, 977, 979, 983, 989, 991, 997]

#### Exercise 29.
Use a dictionary comprehension to count the length of each word in a sentence

In [33]:
string = "Boooongo la, boooongo chachacha 2"
d = {k: len(k) for k in string.split(" ")}
d

{'Boooongo': 8, 'la,': 3, 'boooongo': 8, 'chachacha': 9, '2': 1}

#### Exercise 30.
Find all of the words in a string that are less than 5 letters

In [35]:
less5 = [s for s in string.split(" ") if len(s) < 5]
less5

['la,', '2']

<a id = "6."></a>
<a href="#IDX"><p style="text-align:right;" href="#IDX">Back To Index</p></a> 
## 6. Functions (I)

#### Exercise 31.
Create a function that given a year returns you a True if is a leap year
[Hint](https://docs.microsoft.com/en-us/office/troubleshoot/excel/determine-a-leap-year)

In [37]:
def is_leap(year):
    """..."""
    if not year % 4:
        if not year % 100:
            if not year % 400:
                ret = True
            else:
                ret = False
        else:
            ret = True
    else:
        ret = False
    return ret
is_leap(2016)

True

In [35]:
def year_type(year):
    if year % 4 == 0:
        if year % 100 == 0:
            if year % 400 == 0:
                mensaje = (f"The {year} is a leap year")
            else:
                mensaje = (f"The {year} is not a leap year")
        else:
            mensaje = (f"The {year} is not a leap year")
    else:
        mensaje = (f"The {year} is not a leap year")
    return mensaje
year_type(2016)

'The 2016 is not a leap year'

#### Exercise 32.
Given a sentence count the number of times that a word appears in the sentence.

In [1]:
def sumar(r, p):
    return r + p

In [2]:
sumar(1, 2)

3

In [3]:
w = 1
f = 4
sumar(w, f)

5

In [4]:
r = 1
p = 4
sumar(r, p)

5

In [5]:
def sumar(r, p):
    r = 1
    p = 19
    return r + p

In [6]:
sumar(12, 5)

20

In [22]:
def sentence(a, b):
    l = a.split(" ")
    for _ in l:
        if _ == b:
            ...
    c = a.count(b)
    return c

In [ ]:
x = sentence(a, b)
print(f"las veces que aparece la palabra {b} son {x}")

In [39]:
def sentence(a, b):
    a = input("Escriba aquí una frase")
    b = input("Escriba aquí la palabra que desea buscar")
    c = a.count(b)
    print(f"las veces que aparece la palabra {b} son {c}")
sentence(a, b)

Escriba aquí una frase el caballo blanco de santiago
Escriba aquí la palabra que desea buscar em

las veces que aparece la palabra em son 0

#### Exercise 33.
Create a function to calculate income/spending between two list with the same length and return a new list with the results. I case there was any problem use try/except statements.

In [8]:
def profit(l1, l2):
    l3 = []
    for a, b in zip(l1, l2):
        try:
            l3.append(a/b)
        except Exception as e:
            print(e)
            l3.append("NAN")
    return l3

In [12]:
k = 0
j = 7
def sumar():
    return k + j

In [13]:
sumar()

7

In [10]:
def ing_gas_(ing, gas):
    long_lista = len(ing)
    lista_result = []
    for i in range(0, long_lista):
        lista_result.append(ing[i] - gas[i])
    return lista_result
ing = [0, 1, 2]
gas = [1, 4, 1]
ing_gas_(ing, gas)

[-1, -3, 1]

In [11]:
profit(ing, gas)

[0.0, 0.25, 2.0]

#### Exercise 34.
1. A function to calculate square/rectangle area.
2. A function to calculate triangle area.
3. A function to calculate sphere area.

In [28]:
def rectangle(a, b):
    """..."""
    return a*b

def triangle(a, b):
    return rectangle(a, b) / 2

def sphere(r):
    return 4 * 3.1415 * r **2

In [33]:
rectangle(4, 5)

20

In [34]:
triangle(4, 5)

10.0

In [32]:
sphere(3.1415 ** -.5)

4.0

#### Exercise 35.
Write a function called return_day. This function takes in one parameter (a number from 1-7) and returns the day of the week (1 is Sunday, 2 is Monday etc.). If the number is less than 1 or greater than 7, the function should return None.

In [15]:
def return_day(numday):
    """..."""
    d = {k: v for k, v in enumerate(["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"], start=1)}
    return d.get(numday)

In [16]:
return_day(1)

'Sunday'

In [18]:
print(return_day(19))

None

#### Exercise 36.
Write a function called sma (Simple Moving Average) to calculate the moving average of a list given two parameters, a list and the moving window. [Hint](https://www.investopedia.com/terms/s/sma.asp).

In [19]:
def sma(lista, window):
    """..."""
    length_list = len(lista)
    result = []
    for _ in range(length_list):
        sma_value = sum(lista[_:_+window]) / window
        result.append(sma_value)
        
    return result

In [20]:
sma([1, 2, 3, 4, 5, 6, 9], 2)

[0.5, 1.5, 2.5, 3.5, 4.5, 5.5, 7.5]

#### Exercise 37.
Write a function called ema (Exponential Moving Average) to calculate it as the previous exercises. [Hint](https://www.investopedia.com/ask/answers/122314/what-exponential-moving-average-ema-formula-and-how-ema-calculated.asp).

In [21]:
1 * 0.2 + 2*0.2 + 3*0.6

2.4

In [23]:
def ema(lista, window):
    ema = [sum(lista[:window]) / window]
    
    for value in lista[window:]:
        ema.append((value * (2 / (1 + window))) + ema[-1] * (1 - (2 / (1 + window))))
    return ema[::-1]

In [25]:
ema([1, 2, 3, 4, 5, 6, 9], 2)

[1.5041152263374487,
 2.5123456790123457,
 3.537037037037037,
 4.611111111111112,
 5.833333333333334,
 7.5]

<a id = "7."></a>
<a href="#IDX"><p style="text-align:right;" href="#IDX">Back To Index</p></a> 
## 7. Modules

#### Exercise 38.
Create a function that return a random number between 1 and given integer.

In [1]:
import numpy as np

In [2]:
def random_number(n):
    """..."""
    return np.random.randint(low=0, high=n+1)

In [57]:
np.random.seed(1234)
random_number(5)

3

In [4]:
random_number(5)

0

#### Exercise 39.
Multiply the following matrixes with matrix mutiplication.
```python
import numpy as np
matrix1 = np.array([[1, 0], [0, -1]])
matrix2 = np.array([[3, 2], [1, 1]])
```

In [58]:
import numpy as np
matrix1 = np.array([[1, 0], [0, -1]])
matrix2 = np.array([[3, 2], [1, 1]])

In [60]:
matrix1, matrix2

(array([[ 1,  0],
        [ 0, -1]]),
 array([[3, 2],
        [1, 1]]))

In [61]:
matrix1.dot(matrix2)

array([[ 3,  2],
       [-1, -1]])

In [59]:
matrix1 * matrix2

array([[ 3,  0],
       [ 0, -1]])

#### Exercise 40.
Write a function to select a random element from a given list.

In [62]:
import random

In [63]:
def sample(x):
    """..."""
    return random.choice(x)

In [84]:
sample([str(_) for _ in range(1, 7)])

'4'

<a id = "8."></a>
<a href="#IDX"><p style="text-align:right;" href="#IDX">Back To Index</p></a> 
## 8. Functions (II)

#### Exercise 41.
Create an anonymous function to check if a string starts with a given argument.

In [85]:
result = lambda arg, example: example.startswith(arg)

In [86]:
result("Co", "Covid sucks!")

True

#### Exercise 42.
Write a Python program to find palindromes in a given list of strings using Lambda.

In [87]:
lista = ["oso", "nebrija", "ojo", "ojeras", "radar"]
list(filter(lambda a: a == a[::-1], lista))

['oso', 'ojo', 'radar']

<a id = "9."></a>
<a href="#IDX"><p style="text-align:right;" href="#IDX">Back To Index</p></a> 
## 9. Classes

#### Exercise 43.
Write a Python class named Converter
1. Add a method from integer to a roman numeral.
2. Add method from roman numeral to integer.

In [76]:
class Converter:
    def __init__(self):
        self.ir = {1: "I", 5: "V"}
        self.ri = {"I": 1, "V": 5}
        
    def integer_to_roman(self, n):
        if n <= 3:
            ret = n * self.ir.get(1)
        else:
            if n < 5:
                ret = f"{self.ir.get(1)}{self.ir.get(5)}"
            else:
                if n <= 8:
                    ret = f"{self.ir.get(5)}{self.ir.get(1)*(n - 5)}"
                else:
                    ret = "Not coded Num"
        return ret
    
    def roman_to_integer(self, roman):
        prev_letter = ""
        value = 0
        for letter in roman:
            if prev_letter == letter or prev_letter == "":
                value += self.ri.get(letter)
                prev_letter = letter
            else:
                if self.ri.get(prev_letter) < self.ri.get(letter):
                    value -= self.ri.get(prev_letter)
                    value += self.ri.get(letter) - self.ri.get(prev_letter)
                    prev_letter = letter
                else:
                    value += self.ri.get(letter)
                    prev_letter = letter
        return value

In [77]:
conv = Converter()

In [78]:
conv.integer_to_roman(8)

'VIII'

In [79]:
conv.roman_to_integer("IV")

4

#### Exercise 44.
Write a Python class which has two methods set_string and print_string. get_string accept a string from the user and print_string print the string in upper case.

In [87]:
class String:
    def __init__(self, s):
        self.s = s
        
    def print_string(self):
        print(self.s.upper())

In [88]:
var = input("Dime algo:")
s = String(var)
s.print_string()

Dime algo: Hola

HOLA

In [89]:
var

'Hola'

In [86]:
s.print_string()

AMANDA ME DA MIEDO

#### Exercise 45.
Create a Vehicle class with max_speed and mileage instance attributes.

In [90]:
class Vehicle:
    def __init__(self):
        self.max_speed = 180
        self.mileage = 50000
        
    def v_info(self):
        print(self.max_speed)
        print(self.mileage)

#### Exercise 46.
Create a child class Bus that will inherit all of the variables and methods of the Vehicle class and display it.

In [70]:
class Bus(Vehicle):
    def __init__(self):
        super().__init__()
    
    def info(self):
        print(self.max_speed)
        print(self.mileage)

In [71]:
bus = Bus()

In [72]:
bus.info()

180
50000

#### Exercise 47.
Create a Bus class that inherits from the Vehicle class. Give the capacity argument of Bus.seating_capacity() a default value of 50.

In [91]:
class Bus(Vehicle):
    def __init__(self):
        super().__init__()
        self.seating_capacity = 50
    
    def info(self):
        super().v_info()
        print(self.seating_capacity)

In [92]:
bus = Bus()

In [93]:
bus.info()

180
50000
50

<a id = "extra"></a>
<a href="#IDX"><p style="text-align:right;" href="#IDX">Back To Index</p></a> 
## Extra

Sign in into [Codewars](https://www.codewars.com/) to have a huge amount of different code challenges.