<div style="text-align:center"><img src="./images/python_ex.png" /></div>

<a href="00_cover_page.ipynb"><p style="text-align:right;" href="00_cover_page.ipynb">Back To Cover Page</p></a>

<a id = "IDX"></a>
# Class Exercises
##### Index
- [2. Variables in Python](#2.)
- [3. Conditionals](#3.)
- [4. Data Structures](#4.)
- [5. Loops](#5.)
- [6. Functions (I)](#6.)
- [7. Modules](#7.)
- [8. Functions (II)](#8.)
- [9. Classes](#9.)
- [Extra](#extra)

<a id = "2."></a>
<a href="#IDX"><p style="text-align:right;" href="#IDX">Back To Index</p></a> 
## 2. Variables in Python

#### Exercise 1.
1. Write your address (street) in a variable.
2. Write your address (number of building) in a variable.
3. Write your address (city) in a variable.
4. Write your address (postalcode) in a variable.
5. Concatenate the previous variables into another one.
6. Print it.

In [1]:
street = "Acacias"
number = 50
city = "Rivas Vaciamadrid"
postal_code = 28522

In [2]:
address = street + ' ' + str(number) + ' ' + city + ' ' + str(postal_code)
print(address)

Acacias 50 Rivas Vaciamadrid 28522

#### Exercise 2.

Which of the following are bad formed? why? and correct them.
```python
mi_variable = "Economía"
otra_var = "Ejercicio
True = "Ejercicio"
mi variab1e = "Alpha"
exec = True
import = 40
81mi_variable = "Agua"
mi_variable10 = 6
```

In [3]:
# mi_variable : bien
# otra_var : mal    tiene que todo comillas 
# True : mal  nos cargariamos True
# mi variable : mal  no se debe utilizar espacios para nombrar variables
# exec e import : mal  son palabras reservadas
# 81mi_variable : mal   no hay que empezar variables con numeros
# mi_variable : bien

otra_var = "Ejercicio"
true = "Ejercicio"
mi_variable = "Alpha"
exect = True
importado = 40
mi_variable81 = "Agua"

#### Exercise 3.
Calculate the roots of any ecuation of second order with the following expression \\( ax^2 + bx + c = 0 \\)

In [4]:
a = 3
b = -8
c = -2

x1 = (-b + (b**2 - 4 * a * c)**0.5) / (2 * a)

x2 = (-b - (b**2 - 4 * a * c)**0.5) / (2 * a)

In [5]:
print(round(x1,3))
print(x2)

2.897
-0.23013858660780992

#### Exercise 4.
Create a workflow to calculate from farentheit to celsius

In [6]:
Farenheit = 85

Celsius = (Farenheit - 32) * (5 / 9)

In [7]:
print(round(Celsius,2))

29.44

#### Exercise 5.
Decompose a division of two numbers in its parts and check that the numerator is calculated with the previous values.

In [8]:
a = 8
b = 10

rest = a % b
div = a / b
flo = a // b

print(a == flo * b + rest)

True

#### Exercise 6.
Given any word remove extra whitespaces at the beginning and at the end and uppercase the firts letter of the word.

In [9]:
word = "  marmitako pa la people "

word.strip().capitalize()

'Marmitako pa la people'

<a id = "3."></a>
<a href="#IDX"><p style="text-align:right;" href="#IDX">Back To Index</p></a> 
## 3. Conditionals

#### Exercise 7.
Given a sentence count the number of times that a word appears in the sentence. Previously checks if the word is in the sentence.

In [10]:
sentence = "La parte contratante de la primera parte es igual a la parte contratante de la segunda parte"

word = "parte"


if word in sentence:
    print("The word is in the sentence")
    print(sentence.count(word))
    

        
else:
    print("Word don´t appears in the sentence")

The word is in the sentence
4

In [11]:
word = "o"

sentence = "hello world"

if isinstance(sentence, str):
    print(sentence.lower().count(word.lower()))

2

#### Exercise 8.
Is the following expression correct? Solve it if it is incorrect.
```python
var_num = 10
if var_num <= 100:
    print(f"{var_num} <= 100")
elif var_num <= 10:
    print(f"{var_num} <= 10")
else:
    print("Big number!")
```

In [12]:
var_num = 85
if var_num <= 10:
    print(f"{var_num} <= 10")
elif var_num <= 100:
    print(f"{var_num} <= 100")
else:
    print("Big number!")

85 <= 100

#### Exercise 9.
What we will get from the following expressions? Try to gigure it out without execute code.
1. True and True and False
2. not(not (True or False)) or (True or False)
3. (False or True or False or True) or False
4. not True and True and True

In [13]:
True and True and False

False

In [14]:
not(not (True or False)) or (True or False)

True

In [15]:
(False or True or False or True) or False

True

In [16]:
not True and True and True

False

#### Exercise 10.
Calculate the IRPF steps [see here](https://www.bankinter.com/blog/finanzas-personales/renta-tramos-irpf) for a given salary.

In [17]:
salary = 25000

if salary <= 12450:
    IRPF = salary * 0.19
    
elif salary <= 20200:
    IRPF = salary * 0.24
    
elif salary <= 35200:
    IRPF = salary * 0.3
    
elif salary <= 60000:
    IRPF = salary * 0.37
    
elif salary <= 300000:
    IRPF = salary * 0.45
    
elif salary > 300000:
    IRPF = salary * 0.47
    
else:
    print("El salario no requiere de IRPF")
    
print(f"el IRPF a pagar es de {IRPF} euros anuales")

el IRPF a pagar es de 7500.0 euros anuales

#### Exercise 11.
Write an if statement that asks for the user's name via variable. If the name is "Bond" make it print "Welcome on board 007." Otherwise make it print "Good morning NAME". (Replace Name with user's name)

In [18]:
name = input("insert user name: ")

if name.capitalize() == "Bond":
    print("Welcome on board 007")
    
else:
    print(f"Good morning {name}, replace name with user name")

insert user name:  Bond

Welcome on board 007

#### Exercise 12.
A school has following rules for grading system:
1. Below 25 - F
2. 25 to 45 - E
3. 45 to 50 - D
4. 50 to 60 - C
5. 60 to 80 - B
6. Above 80 - A


Ask user to enter marks and print the corresponding grade (via variable).

In [19]:
user = int(input("Insert your mark please: "))

if user < 25:
    print("F")
    
elif user <= 25 and user < 45:
    print("E")
    
elif user <= 45 and user < 50:
    print("D")
    
elif user <= 50 and user < 60:
    print("C")
    
elif user <= 60 and user < 80:    
    print("B")
    
else:
    print("A")

Insert your mark please:  75

A

#### Exercies 13.
Take values of length and breadth of a rectangle from user and check if it is square or not.

In [ ]:
base = 10
altura = 20

if base == altura:
    print("Is a square")
    
else:
    print("Is not a square")

<a id = "4."></a>
<a href="#IDX"><p style="text-align:right;" href="#IDX">Back To Index</p></a> 
## 4. Data Structures

#### Exercise 14.
1. Create a tuple with 3 elements
2. Create a tuple with one element and check its type
3. Create a tuple with elements of different types
4. Print first and last element from previous tuple.
5. Add one more element.
6. Delete one element in a tuple.
7. Transform the tuple into a list

In [ ]:
tupla = (1,2,3)
tupla1 = (4,)
print(type(tupla1))

In [22]:
tupla2 = ("Hello", 4.5, [True, 3, "world"], 8)
print(tupla2[0])
print(tupla2[-1])

Hello
8

In [23]:
tupla3 = ("Roosted",)

tupla4 = tupla2 + tupla3
print(tupla4)

('Hello', 4.5, [True, 3, 'world'], 8, 'Roosted')

In [24]:
tupla5 = tupla2

print(tupla5)

('Hello', 4.5, [True, 3, 'world'], 8)

In [25]:
list(tupla5)

['Hello', 4.5, [True, 3, 'world'], 8]

#### Exercise 15.
Count the unique elements from the following list:
```python
l = list("ahjhsfyajkasbiuashasbuasgbfsakyuasbdiaqwonvbythfppivbad")
```
Hint: use `len()`

In [26]:
l = list("ahjhsfyajkasbiuashasbuasgbfsakyuasbdiaqwonvbythfppivbad")

len(set(l))

19

#### Exercise 16.
Create a dictionary that maps a number with its corresponding month name.

In [27]:
dict_mes = {1: "Enero",  
            2: "Febrero",  
            3: "Marzo", 
            4: "Abril",  
            5: "Mayo",  
            6: "Junio",  
            7: "Julio",  
            8: "Agosto",  
            9: "Septiembre",  
            10: "Octubre",  
            11: "Noviembre",  
            12: "Diciembre"}

print(dict_mes)

{1: 'Enero', 2: 'Febrero', 3: 'Marzo', 4: 'Abril', 5: 'Mayo', 6: 'Junio', 7: 'Julio', 8: 'Agosto', 9: 'Septiembre', 10: 'Octubre', 11: 'Noviembre', 12: 'Diciembre'}

#### Exercise 17.
Create two list of the same length and then create a list of tuples with the previous lists.

Hint: `zip()`

In [28]:
lista1 = [1, 2, 3, 4, 5]
lista2 = [6, 7, 8, 9, 10]

tupla1 = tuple(lista1)
tupla2 = tuple(lista2)

lista3 = [tupla1, tupla2]
print(lista3)

[(1, 2, 3, 4, 5), (6, 7, 8, 9, 10)]

In [29]:
list(zip(lista1, lista2))

[(1, 6), (2, 7), (3, 8), (4, 9), (5, 10)]

#### Exercise 18.
Given the following sets
```python
first_set  = {57, 83, 29}
second_set = {57, 83, 29, 67, 73, 43, 48}
```
Check if the first one is a subset of the second one

In [30]:
first_set  = {57, 83, 29}
second_set = {57, 83, 29, 67, 73, 43, 48}

first_set.union(second_set)

{29, 43, 48, 57, 67, 73, 83}

In [31]:
first_set.issubset(second_set)

True

In [32]:
second_set.issubset(first_set)

False

#### Exercise 19.
1. Create a dictionary where its keys are the days of the week (name) and values all set to 0.
2. Change the week days for numbers
3. Sum the total of the week
4. Calculate the mean of the week and the mean of the weekdays.

DO NOT HARDCODE NUMBERS LIKE 5 OR 7!

In [33]:
weeknames = ["L", "M", "Mi", "J", "V", "S", "D" ]

In [34]:
weeks = dict.fromkeys(weeknames, 0)
weeks

{'L': 0, 'M': 0, 'Mi': 0, 'J': 0, 'V': 0, 'S': 0, 'D': 0}

In [35]:
weeks["L"] = 150
weeks["M"] = 158
weeks["Mi"] = 137
weeks["J"] = 172
weeks["V"] = 221
weeks["S"] = 302
weeks["D"] = 369

weeks

{'L': 150, 'M': 158, 'Mi': 137, 'J': 172, 'V': 221, 'S': 302, 'D': 369}

In [36]:
suma = sum(weeks.values())
suma

1509

In [37]:
media = suma / len(weeks)
media

215.57142857142858

In [38]:
media_dia = sum(list(weeks.values())[:5]) / len(list(weeks.keys())[:5])
media_dia

167.6

In [39]:
media_finde = sum(list(weeks.values())[5:7]) / len(list(weeks.keys())[5:7])
media_finde

335.5

<a id = "5."></a>
<a href="#IDX"><p style="text-align:right;" href="#IDX">Back To Index</p></a> 
## 5. Loops

#### Exercise 20.
Write a Python program to insert items into a list in sorted order.

In [40]:
lista = []

for i in range(0,9):
    lista.append(i)

print(lista)

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [41]:
l = sorted([x for x in [1,3,8,4,6,7,7,0,2]])
l

[0, 1, 2, 3, 4, 6, 7, 7, 8]

#### Exercise 21.
Using dict comprehension create other dictionary with the 3 first letter of the month name from the previous one

In [42]:
dict_mes = {1: "Enero",  
            2: "Febrero",  
            3: "Marzo", 
            4: "Abril",  
            5: "Mayo",  
            6: "Junio",  
            7: "Julio",  
            8: "Agosto",  
            9: "Septiembre",  
            10: "Octubre",  
            11: "Noviembre",  
            12: "Diciembre"}

In [43]:
meses = {k: v[0:3] for k, v in dict_mes.items()}
meses

{1: 'Ene',
 2: 'Feb',
 3: 'Mar',
 4: 'Abr',
 5: 'May',
 6: 'Jun',
 7: 'Jul',
 8: 'Ago',
 9: 'Sep',
 10: 'Oct',
 11: 'Nov',
 12: 'Dic'}

#### Exercise 22.
Write a Python program to find those numbers which are divisible by 7 and multiple of 5, between 1500 and 2700 (both included)

In [44]:
for i in range(1500, 2701):
    if i % 7 == 0 and i % 5 == 0:
        print(i)

1505
1540
1575
1610
1645
1680
1715
1750
1785
1820
1855
1890
1925
1960
1995
2030
2065
2100
2135
2170
2205
2240
2275
2310
2345
2380
2415
2450
2485
2520
2555
2590
2625
2660
2695

In [45]:
n = [i for i in range(1500, 2701) if (i % 7 == 0) and (i % 5 == 0)]
n

[1505,
 1540,
 1575,
 1610,
 1645,
 1680,
 1715,
 1750,
 1785,
 1820,
 1855,
 1890,
 1925,
 1960,
 1995,
 2030,
 2065,
 2100,
 2135,
 2170,
 2205,
 2240,
 2275,
 2310,
 2345,
 2380,
 2415,
 2450,
 2485,
 2520,
 2555,
 2590,
 2625,
 2660,
 2695]

#### Exercise 23.
Write a Python program to count the number of even and odd numbers from a series of numbers

In [46]:
lista1 = list(range(0,21))
list_even = []
list_odd = []

for i in lista1:
    if i % 2 == 0:
        list_even.append(i)
    elif i % 2 != 0:
        list_odd.append(i)
        
print(list_even)
print(list_odd)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

#### Exercise 24.
Write a Python program that prints each item and its corresponding type from the following list.
```python
Sample List : datalist = [1452, 11.23, 1+2j, True, 'w3resource', (0, -1), [5, 12], {"class":'V', "section":'A'}]
```

In [47]:
datalist = [1452, 11.23, 1+2j, True, 'w3resource', (0, -1), [5, 12], {"class":'V', "section":'A'}]

for i in datalist:
    print(i,type(i))

1452 <class 'int'>
11.23 <class 'float'>
(1+2j) <class 'complex'>
True <class 'bool'>
w3resource <class 'str'>
(0, -1) <class 'tuple'>
[5, 12] <class 'list'>
{'class': 'V', 'section': 'A'} <class 'dict'>

#### Exercise 25.
Write a Python program that accepts a string and calculate the number of digits and letters.

In [48]:
string = "A quien madruga patada en los cojones 3 veces"

letters = 0
numbers = 0

for i in string:
    if i.isdigit():
        numbers += 1
    elif i.isalpha():
        letters += 1
    else:
        continue
        
print(letters)
print(numbers)

36
1

#### Exercise 26.
Write a Python program to check the validity of password input by users. Validation:

- At least 1 letter between [a-z] and 1 letter between [A-Z].
- At least 1 number between [0-9].
- At least 1 character from [$#@].
- Minimum length 6 characters.
- Maximum length 16 characters.

In [49]:
user = input("Enter pasword: ")

abc = "abcdefghijklmnopqrstuvwxyz"
numbers = "0123456789"
conditions = [abc, abc.upper(), numbers, "$#@"]
check = False

if (len(user) >= 6 and (len(user)) <= 16):
    for cond in conditions:
        for c in cond:
            if c in user:
                check = True
                break
            else:
                check = False
                continue
                
    if not check:
        print(f"Pasword bad former, al least one of {' '.join(cond)}.")
        
        
else:
    print(f"Password bad, leght must be between 6 and 16 characters")
        
print(check)

Enter pasword:  MaLAkIaS54@

True

#### Exercise 27.
Write a Python program to create the multiplication table (from 1 to 10) of a number.

In [50]:
c = 5

for i in range(1,11):
    print(i * c)

5
10
15
20
25
30
35
40
45
50

#### Exercise 28.
Using list comprehension create a list of prime numbers less than 1000.

In [51]:
prime = []

for i in range(1001):
    if i <= 2:
        prime.append(i) if i % 2 != 0 else None
    elif i <= 3:
        prime.append(i) if i % 3 != 0 else None
    elif i <= 5:
        prime.append(i) if i % 5 != 0 and i % 2 != 0 else None
    else:
        prime.append(i) if (i % 7 != 0) and (i % 5 != 0) and (i % 3 != 0) and (i % 2 != 0) else None
        
print(prime)

[1, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 121, 127, 131, 137, 139, 143, 149, 151, 157, 163, 167, 169, 173, 179, 181, 187, 191, 193, 197, 199, 209, 211, 221, 223, 227, 229, 233, 239, 241, 247, 251, 253, 257, 263, 269, 271, 277, 281, 283, 289, 293, 299, 307, 311, 313, 317, 319, 323, 331, 337, 341, 347, 349, 353, 359, 361, 367, 373, 377, 379, 383, 389, 391, 397, 401, 403, 407, 409, 419, 421, 431, 433, 437, 439, 443, 449, 451, 457, 461, 463, 467, 473, 479, 481, 487, 491, 493, 499, 503, 509, 517, 521, 523, 527, 529, 533, 541, 547, 551, 557, 559, 563, 569, 571, 577, 583, 587, 589, 593, 599, 601, 607, 611, 613, 617, 619, 629, 631, 641, 643, 647, 649, 653, 659, 661, 667, 671, 673, 677, 683, 689, 691, 697, 701, 703, 709, 713, 719, 727, 731, 733, 737, 739, 743, 751, 757, 761, 767, 769, 773, 779, 781, 787, 793, 797, 799, 803, 809, 811, 817, 821, 823, 827, 829, 839, 841, 851, 853, 857, 859, 863, 869, 871, 877, 881, 883, 887, 893, 899, 901, 907, 911, 913, 919, 923, 929, 937, 941, 943, 947, 949, 953, 961, 967, 971, 977, 979, 983, 989, 991, 997]

#### Exercise 29.
Use a dictionary comprehension to count the length of each word in a sentence

In [52]:
string = "A quien madruga patada en los cojones"

d = {k: len(k) for k in string.split(" ")}
print(d)

{'A': 1, 'quien': 5, 'madruga': 7, 'patada': 6, 'en': 2, 'los': 3, 'cojones': 7}

#### Exercise 30.
Find all of the words in a string that are less than 5 letters

In [53]:
less5 = [s for s in string.split(" ") if len(s) < 5]

less5

['A', 'en', 'los']

<a id = "6."></a>
<a href="#IDX"><p style="text-align:right;" href="#IDX">Back To Index</p></a> 
## 6. Functions (I)

#### Exercise 31.
Create a function that given a year returns you a True if is a leap year
[Hint](https://docs.microsoft.com/en-us/office/troubleshoot/excel/determine-a-leap-year)

In [54]:
def año_bi(año):
    if año % 4 != 0:
        print(f"The year {año} is not a leap year")
    elif año % 100 != 0:
        print(f"The year {año} is a leap year")
    elif año % 400 == 0:
        print(f"The year {año} is a leap year")
    elif año % 400 != 0:
        print(f"The year {año} is not a leap year")
         
año_bi(2016)

The year 2016 is a leap year

In [55]:
def year_type(year):
    if year % 4 == 0:
        if year % 100 == 0:
            if year % 400 == 0:
                return True
            else:
                return False
        else:
            return True
    else:
        return False
   
year_type(2016)

True

In [56]:
def is_leap(year):
    if not year % 4:
        if not year % 100:
            if not year % 400:
                return True
            else:
                return False
        else:
            return True
    else:
        return False
    
is_leap(2016)

True

#### Exercise 32.
Given a sentence count the number of times that a word appears in the sentence.

In [57]:
def palabra(sentence, word):
    c = 0
    for i in sentence.split():
        if i == word:
            c += 1
    return c

palabra("En un lugar de la Mancha de cuyo nombre salen exploradores de sitios", "de")

3

In [58]:
def contador(texto,letra):
    texto = texto.lower()
    return texto.count(letra.lower())

palabra("En un lugar de la Mancha de cuyo nombre salen exploradores de sitios", "de")

3

In [59]:
def sentence(a, b):
    c = a.count(b)
    return print(f"las veces que aparece la palabra {b} son {c}")

sentence("Señor Paco diga que diga lo que quiera", "diga")

las veces que aparece la palabra diga son 2

#### Exercise 33.
Create a function to calculate income/spending between two list with the same length and return a new list with the results. I case there was any problem use try/except statements.

In [60]:
income = [1523, 1301, 1845, "---", 999]
spending = [635, 698, 0, 425, 321]
inc_spend = []


def calculate():     ##### HACER FUNCION CON ARGUMENTOS
    
    for i in range(len(income)):
        
        try:
            inc_spend.append(income[i]/spending[i])
            
        except ZeroDivisionError:
            inc_spend.append("Is not posible")
            
        except TypeError:
            inc_spend.append("Error")
            
    return inc_spend
            
            
calculate()

[2.398425196850394,
 1.8638968481375358,
 'Is not posible',
 'Error',
 3.1121495327102804]

In [61]:
def ing_gas_(ing, gas):
    long_lista = len(ing)
    lista_result = []
    for i in range(0, long_lista):
        lista_result.append(ing[i] - gas[i])
    return lista_result
ing = [0, 1, 2]
gas = [1, 4, 1]
ing_gas_(ing, gas)

[-1, -3, 1]

In [62]:
def profit(l1, l2):
    l3 = []
    for a, b in zip(l1,l2):
        try:
            l3.append(a/b)
        except Exception as e:
            print(e)
            l3.append("NAN")
    return l3
    
profit(ing, gas)

[0.0, 0.25, 2.0]

#### Exercise 34.
1. A function to calculate square/rectangle area.
2. A function to calculate triangle area.
3. A function to calculate sphere area.

In [63]:
import math


def square(base, altura):
    a_sq = base * altura
    return a_sq

def triangle(base, altura):
    a_st = square(base, altura) / 2
    return a_st

def sphere(radio):
    a_sp = math.pi * radio**2
    return a_sp

In [64]:
square(5, 3)

15

In [65]:
triangle(5, 2)

5.0

In [66]:
sphere(6)

113.09733552923255

#### Exercise 35.
Write a function called return_day. This function takes in one parameter (a number from 1-7) and returns the day of the week (1 is Sunday, 2 is Monday etc.). If the number is less than 1 or greater than 7, the function should return None.

In [67]:
def return_day(day):
    if day == 1:
        return "Sunday"  
    
    elif day == 2:
        return "Monday"
    
    elif day == 3:
        return "Tuesday"
    
    elif day == 4:
        return "Wednesday"
    
    elif day == 5:
        return "Thursday"
    
    elif day == 6:
        return "Friday"
    
    elif day == 7:
        return "Saturday"
    
    else:
        return None
    

print(return_day(6))

Friday

#### Exercise 36.
Write a function called sma (Simple Moving Average) to calculate the moving average of a list given two parameters, a list and the moving window. [Hint](https://www.investopedia.com/terms/s/sma.asp).

In [68]:
def sma(lista, window):
    """..."""
    length_list = len(lista)
    result = []
    for _ in range(length_list):
        sma_value = sum(lista[::-1][_:_+window]) / window    
        result.append(sma_value)
    return result

sma([1258,1654,985,1324], 3)

[1321.0, 1299.0, 970.6666666666666, 419.3333333333333]

#### Exercise 37.
Write a function called ema (Exponential Moving Average) to calculate it as the previous exercises. [Hint](https://www.investopedia.com/ask/answers/122314/what-exponential-moving-average-ema-formula-and-how-ema-calculated.asp).

In [69]:
def ema(lista, window):

SyntaxError: unexpected EOF while parsing (<ipython-input-69-be49f1ef5348>, line 2)

<a id = "7."></a>
<a href="#IDX"><p style="text-align:right;" href="#IDX">Back To Index</p></a> 
## 7. Modules

#### Exercise 38.
Create a function that return a random number between 1 and given integer.

In [1]:
import random 

def retran():
    return random.randint(1, 8)

print("Random number return")
retran()

Random number return

4

In [2]:
import numpy as np

def random_number(n):
    return np.random.randint(low=0, high=n+1)

random_number(6)

2

#### Exercise 39.
Multiply the following matrixes with matrix mutiplication.
```python
import numpy as np
matrix1 = np.array([[1, 0], [0, -1]])
matrix2 = np.array([[3, 2], [1, 1]])
```

In [3]:
import numpy as np
matrix1 = np.array([[1, 0], [0, -1]])
matrix2 = np.array([[3, 2], [1, 1]])

matrix1, matrix2

(array([[ 1,  0],
        [ 0, -1]]),
 array([[3, 2],
        [1, 1]]))

In [4]:
matrix1.dot(matrix2)

array([[ 3,  2],
       [-1, -1]])

#### Exercise 40.
Write a function to select a random element from a given list.

In [5]:
import random 

list1 = [1,5,3,9,7,11,6,7]

def random_element():
    random_index = random.randrange(len(list1))
    return list1[random_index]

random_element()

1

In [8]:
def sample(x):
    return random.choice(x)

sample(["si","no","quizas"])

'si'

In [11]:
sample([str(d) for d in range(1, 7)])

'5'

<a id = "8."></a>
<a href="#IDX"><p style="text-align:right;" href="#IDX">Back To Index</p></a> 
## 8. Functions (II)

#### Exercise 41.
Create an anonymous function to check if a string starts with a given argument.

In [12]:
result = lambda arg, example: example.startswith(arg)

result("co", "covid sucks!")

True

#### Exercise 42.
Write a Python program to find palindromes in a given list of strings using Lambda.

In [13]:
lista = ["oso", "ojo", "ojeras",  "radar"]

list(filter(lambda a: a == a[::-1], lista))

['oso', 'ojo', 'radar']

<a id = "9."></a>
<a href="#IDX"><p style="text-align:right;" href="#IDX">Back To Index</p></a> 
## 9. Classes

#### Exercise 43.
Write a Python class named Converter
1. Add a method from integer to a roman numeral.
2. Add method from roman numeral to integer.

In [ ]:
class Converter:
    '''....'''
        
    def roman_to_int(self, s):
        rom_val = {'I': 1, 'V': 5, 'X': 10, 'L': 50, 'C': 100, 'D': 500, 'M': 1000}
        int_val = 0
        for i in range(len(s)):
            if i > 0 and rom_val[s[i]] > rom_val[s[i - 1]]:
                int_val += rom_val[s[i]] - 2 * rom_val[s[i - 1]]
            else:
                int_val += rom_val[s[i]]
        return int_val
    
Converter().roman_to_int("XI")

#### Exercise 44.
Write a Python class which has two methods get_string and print_string. get_string accept a string from the user and print_string print the string in upper case.

In [ ]:
class PyClass:
    '''...'''
    
    def __init__(self):
        self.s = ""
    
    def get_str(self, string):
        self.s = string
    
    def print_str(self):
        print(self.s.upper())
        

s = PyClass()
s.print_str()

#### Exercise 45.
Create a Vehicle class with max_speed and mileage instance attributes.

In [ ]:
class Vehicle:
    
    def __init__(self, max_speed, km):
        self.max_speed = 225
        self.km = 96000

#### Exercise 46.
Create a child class Bus that will inherit all of the variables and methods of the Vehicle class and display it.

In [ ]:
class Bus(Vehicle):
    
    def __init__(self):
        super().__init__()

#### Exercise 47.
Create a Bus class that inherits from the Vehicle class. Give the capacity argument of Bus.seating_capacity() a default value of 50.

<a id = "extra"></a>
<a href="#IDX"><p style="text-align:right;" href="#IDX">Back To Index</p></a> 
## Extra

Sign in into [Codewars](https://www.codewars.com/) to have a huge amount of different code challenges.